.caixa {
	border: 5px solid #000000; 
	margin-left:75px; 
	margin-right:75px; 
	margin-top:75px;
	text-align:center;
}
.menu ul {
    padding:0px;
    
    background-color:rgb(4, 9, 30);
    
}
.menu ul li { 
	display: inline; 
}
.menu ul li a {
    padding: 2px 5px;
    display: inline-block;

    /* visual do link */
    
    color: #ffffff;
    
    border-bottom:3px solid #4fafa6;
}
.menu ul li a:hover {
    background-color:#4fafa6;
    color: #6D6D6D;
    border-bottom:3px solid #000000;
}
body {
	background-image: coolab.png;
	background-color: #ffffff;
	font-size: 120%;
	line-height: 1.5;
	

}

.imagem {
	display: table-cell;
	float: left;
	
	
}
h1 {
	text-align:center;
}
.txt {
	text-align:justify;
	display:table-cell
	float:left;
	width:300px;
	margin-top:-20px;
	margin-left:20px;
}
footer {
	
	background-color: #4fafa6;
	color: #ffffff;
	width:100%;
}
h2{
	text-align: center;
	color: #000000;
}

aside {
	
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	
	
}
aside h1 {
	font-size: 30px;
	
	color:#ffffff;
}
aside a {
	color: #ffffff;
	font-family: "Open Sans Condensed", sans-serif;
}
aside ul {
	text-align:center;
	
	
}
blockquote {
	background-color: #FFF;
	border: 2px solid #140606;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
}

.circulo img{
	background-color: #aaa;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align:center;
}
p {
	text-align: justify;
	
}
#cordoinput {
	background-color: black;
	width: 70px;
	height:40px;
	margin:10px auto;
	
}
.cadastro {
	width: 1590px;
	height:300px;
	margin:25px auto;
	font-family: 'arial';
}
.texto {
	width: 1000px;
	height:25px;
	margin:75px auto;
	text-align:center;
} 
.barras {
	font-size:15px;
	float: left;
	font-family:'Arial';
	font-size: 15px;
}
.pesquisa {
	width:1590px;
	height:0px;
	margin:100px auto;
} 
.botao {
	width:35px;
	height:28px;
	background-color:black;
	padding: 5px 10px;
	cursor: pointer;
}
.corpo {
	width:960px;
	margin:auto;
}

