#mostrador{
	margin: auto;
	margin-top: 40px;
	width: 160px;
	height: 160px;
	text-align:center;
	background-color: white;
	position:relative;
	border: 3px solid #FFD700;
}
.espaco{
	width:160px;
	height: 140px;
	border:3px solid #000;
	float: left;
	text-align: center;
	padding-top: 10px;
}
.tabuleiro{
	width: 480px;
	height: 420px;
	margin: auto;
	background-color: white;
}
.msg{
	margin: auto;
	margin-top: 40px;
	width: 360px;
	height: 60px;
	text-align:center;
	background-color: white;
	position:relative;
	border: 3px solid #7B68EE;
}
.vez{
	float: left;
	margin-right: 0px;
}
#backg{
	background-image:url(img/3.jpg);
}
.resultado{
	width: 200px;
	text-align:center;
	height: 100px;
}